%nav.navbar.navbar-inverse
  .container
    .navbar-header
      = link_to 'Home', projects_path, class: 'navbar-brand'

    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'devise/menu/registration_items'
        = render 'devise/menu/login_items'

        - if user_signed_in? && policy(current_user).index?
          %li
            = link_to 'User Administration', admin_users_path
          %li
            = link_to 'Roles Administration', admin_roles_path
