<div class="container devise-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="form-devise-override-heading">Edit <%= resource_name.to_s.humanize %></h2>
    </div>
  </div>

  <div class="row">
    <br>
  </div>

  <%= render 'devise/shared/error_messages' %>

  <div class="form-base row">
    <div class="col-md-12 no-padding">

      <div class="text-center">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-devise-override' }) do |f| %>

          <div class="with-padding">

            <fieldset class="email-group">
              <%= fa_icon 'envelope-o' %>
              <%= f.email_field :email, class: 'form-control', autocomplete: 'off', placeholder: 'Email address' %>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            </fieldset>

            <br>

            <fieldset class="email-group">
              <%= fa_icon 'user-o' %>
              <%= f.text_field :username, class: 'form-control', autocomplete: 'off', placeholder: 'Desired username' %>
            </fieldset>

            <br>

            <fieldset class="password-group">
              <%= fa_icon 'key' %>
              <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: '(leave blank if you don\'t want to change it)' %>
            </fieldset>

            <br>

            <fieldset class="password-group">
              <%# fa_icon 'key' %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'Password confirmation' %>
            </fieldset>

            <br>

            <fieldset class="password-group">
              <%= f.password_field :current_password, class: 'form-control', autocomplete: 'off', placeholder: '(we need your current password to confirm your changes)' %>
            </fieldset>

          </div>

          <div class="actions">
            <%= f.submit 'update', class: 'btn btn-submit' %>
          </div>

        <% end %>

      </div>

    </div>
  </div>

  <div class="row">
    <br>
    <br>
  </div>

  <div class="form-base row">
    <div class="col-md-12 no-padding">

      <div class="text-center">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { confirm: "Are you sure?" }, method: :delete, class: 'form-devise-override' }) do |f| %>

          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <br>

          <fieldset>
            <%= label_tag :unhappy, 'Unhappy with your account ?' %>
          </fieldset>

          <br>

          <div class="actions">
            <%= f.submit 'delete account', class: 'btn btn-submit-danger' %>
          </div>

        <% end %>

      </div>

    </div>
  </div>

</div>
