<div class="container devise-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="form-devise-override-heading">Sign up</h2>
    </div>
  </div>

  <div class="row">
    <br>
  </div>

  <%= render 'devise/shared/error_messages' %>

  <div class="form-base row">
    <div class="col-md-12 no-padding">

      <div class="text-center">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-devise-override' }) do |f| %>


          <div class="with-padding">

            <fieldset class="email-group">
              <%= fa_icon 'envelope-o' %>
              <%= f.email_field :email, class: 'form-control', autocomplete: 'off', placeholder: 'Email address' %>

            </fieldset>

            <br>

            <fieldset class="email-group">
              <%= fa_icon 'user-o' %>
              <%= f.text_field :username, class: 'form-control', autocomplete: 'off', placeholder: 'Desired username' %>
            </fieldset>

            <br>

            <fieldset class="password-group">
              <%= fa_icon 'key' %>
              <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
            </fieldset>

            <br>

            <fieldset class="password-group">
              <%# fa_icon 'key' %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'Password confirmation' %>
            </fieldset>

            <br>

            <div class="links">
              <%= render 'devise/shared/links' %>
            </div>

          </div>

          <div class="actions">
            <%= f.submit 'sign up', class: 'btn btn-submit' %>
          </div>

        <% end %>

      </div>

    </div>
  </div>

</div>
