.container
  .row
    .col-md-12
      %h2.form-heading
        Sign up

  .row
    %br

  = render 'devise/shared/error_messages'

  .row
    .col-md-12

      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-base text-center no-padding' }) do |f|

        .pd-em-2

          %fieldset.email-group
            = fa_icon 'envelope'
            = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: 'off', placeholder: 'Email address', required: true

          %br

          %fieldset.text-group
            = fa_icon 'user', class: 'pd-right-px-4'
            = f.text_field :username, class: 'form-control', autocomplete: 'off', placeholder: 'Desired username'

          %br

          %fieldset.password-group
            = fa_icon 'key'
            = f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: "Password (#{minimum_password_length} characters minimum)"

          %br

          %fieldset.password-group
            = fa_icon 'key'
            = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'Password confirmation'

          %br


          .links
            = render 'devise/shared/links'

        .actions
          = f.submit 'Sign up', class: 'btn btn-submit'
