<div class="container devise-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="form-devise-override-heading">Resend unlock instructions</h2>
    </div>
  </div>

  <div class="row">
    <br>
  </div>

  <%= render 'devise/shared/error_messages' %>

  <div class="form-base row">
    <div class="col-md-12 no-padding">

      <div class="text-center">

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form-devise-override' }) do |f| %>

          <div class="with-padding">

            <fieldset class="email-group">
              <%= fa_icon 'user-o' %>
              <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: 'off', placeholder: 'Email address' %>
            </fieldset>

            <br>

            <div class="links">
              <%= render 'devise/shared/links' %>
            </div>

          </div>

          <div class="actions">
            <%= f.submit 'resend unlock instructions', class: 'btn btn-submit' %>
          </div>

        <% end %>

      </div>

    </div>
  </div>

</div>