.container
  .row
    .col-md-12
      %h2.form-heading
        Resend unlock instructions

  .row
    %br

  = render 'devise/shared/error_messages'

  .row
    .col-md-12

      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form-base text-center no-padding' }) do |f|

        .pd-em-2

          %fieldset.email-group
            = fa_icon 'envelope'
            = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: 'off', placeholder: 'Email address', required: true

          %br

          .links
            = render 'devise/shared/links'

        .actions
          = f.submit 'resend unlock instructions', class: 'btn btn-submit'
