.container
  .row
    .col-md-12
      %h2.form-heading
        Change your password

  .row
    %br

  = render 'devise/shared/error_messages'

  .row
    .col-md-12

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-base text-center no-padding' }) do |f|

        = f.hidden_field :reset_password_token

        .pd-em-2

          %fieldset.password-group
            = fa_icon 'key'
            = f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: "Password (#{@minimum_password_length} characters minimum)"

          %br

          %fieldset.password-group
            = fa_icon 'key'
            = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: "Password confirmation"

          %br

          .links
            = render 'devise/shared/links'

        .actions
          = f.submit 'update password', class: 'btn btn-submit'
