<div class="container devise-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="form-devise-override-heading"><%= project.new_record? ? 'NEW' : 'EDIT' %> PROJECT</h2>
    </div>
  </div>

  <div class="row">
    <br>
  </div>

  <%= render 'form_errors' %>

  <div class="form-base row">
    <div class="col-md-12 no-padding">

      <div class="text-center">

        <%= form_for(project, local: true, html: { class: 'form-devise-override' }) do |f| %>


          <div class="with-padding">

            <fieldset class="email-group">
              <%= fa_icon 'briefcase' %>
              <%= f.text_field :name, class: 'form-control', placeholder: 'Name of the project' %>

            </fieldset>

            <br>

            <fieldset class="email-group">
              <%= fa_icon 'pencil' %>
              <%= f.text_area :description, class: 'form-control', placeholder: 'Small description' %>
            </fieldset>

            <br>

            <fieldset class="email-group">
              <%= fa_icon 'user-o' %>
              <%= f.select :author_id, author_select_options, {}, class: 'form-control', placeholder: 'Select author' %>
            </fieldset>

            <br>

            <div class="links">

              <% unless project.new_record? %>
                <p><%= link_to 'Show', project %></p>
              <% end %>

              <p><%= link_to 'Back to all projects', projects_path %></p>

            </div>

          </div>

          <div class="actions">
            <%= f.submit project.new_record? ? 'create' : 'update', class: 'btn btn-submit' %>
          </div>

        <% end %>

      </div>

    </div>
  </div>

</div>
