.container
  .row
    .col-md-12
      %h2.form-heading
        #{project.new_record? ? 'NEW' : 'EDIT'} PROJECT

  .row
    %br

  = render 'form_errors'

  .row
    .col-md-12
      = form_for(project, local: true, html: { class: 'form-base text-center no-padding' }) do |f|

        .pd-em-2

          %fieldset.text-group
            = fa_icon 'briefcase'
            = f.text_field :name, class: 'form-control', placeholder: 'Name of the project'

          %br

          %fieldset.text-group
            = fa_icon 'pencil'
            = f.text_area :description, class: 'form-control', placeholder: 'Small description', rows: 5

          %br

          %fieldset.text-group
            = fa_icon 'user-o'
            = f.select :author_id, author_select_options, {}, class: 'form-control', placeholder: 'Select author'

          %br

          - if policy(project).project_admin?
            %fieldset.text-group
              = fa_icon 'heart'
              = f.select :status, options_for_select([Project::STATUS_ACTIVE, Project::STATUS_INACTIVE], project.status), {}, class: 'form-control', placeholder: 'Select author'

            %br

          .links

            - unless project.new_record?
              %p
                = link_to 'Show', project

            %p
              = link_to 'Back to all projects', projects_path

        .actions
          = f.submit project.new_record? ? 'create' : 'update', class: 'btn btn-submit'
