<div class="container devise-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="form-devise-override-heading">PROJECT DETAILS</h2>
    </div>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="form-base row">
    <div class="col-md-12">

      <div class="text-center">
        <br>

        <%= fa_icon 'briefcase' %>
        <label class="control-label">Name</label>
        <div class="well well-sm"><%= project.name %></div>

        <br>

        <%= fa_icon 'pencil' %>
        <label class="control-label">Description</label>
        <div class="well well-lg"><%= project.description %></div>

        <br>

        <%= fa_icon 'user-o' %>
        <label class="control-label">Author</label>
        <div class="well well-sm"><%= project.author.username %></div>

        <br>

        <div class="a">
          <div class="inline-form-wrapper">
            <%= button_to edit_project_path(project), method: :get, class: 'btn btn-warning', disabled: !instance_policy?(:edit) do %>
              <%= fa_icon('pencil') %> Edit
            <% end %>

            <%= button_to project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', disabled: !instance_policy?(:destroy) do %>
              <%= fa_icon('trash') %> Delete
            <% end %>
          </div>
          <br>
          <%= link_to 'Back to all projects', projects_path %>
          <p></p>
        </div>


      </div>

    </div>
  </div>

</div>
