.container
  .row
    .col-md-12
      %h2.form-heading
        #{role.new_record? ? 'NEW' : 'EDIT'} ROLE

  .row
    %br

  = render 'form_errors'

  .row
    .col-md-12
      = form_for(role, url: role.new_record? ? admin_roles_path : admin_role_path(role), local: true, html: { class: 'form-base text-center no-padding' }) do |f|

        .role-attributes.pd-em-2

          %fieldset.text-group.form-group.row
            = f.label :name, class: 'control-label col-md-6'
            = f.select :name, options_for_select(User::ROLE_ACTIONS, f.object.name), {}, class: 'role-name form-control col-md-6'

          %fieldset.text-group.form-group.row
            = f.label :resource_type, class: 'control-label col-md-6'
            = f.select :resource_type, options_for_select(Rolify.resource_types.uniq, f.object.resource_type), {}, class: 'role-resource_type form-control col-md-6'

          %fieldset.text-group.form-group.row
            = f.label :role_type, class: 'control-label col-md-6'
            = f.select :role_type, options_for_select(Role::ROLE_TYPES, f.object.role_type), {}, class: 'role-role_type form-control col-md-6'

          = f.hidden_field :resource_id, value: nil


          %fieldset.text-group.form-group.row
            - option_values = f.object.general? ? [] : (f.object.resource_type.constantize.for_select_options rescue [])

            = f.label :resource_id, class: 'control-label col-md-6'
            = f.select :resource_id, options_for_select(option_values, f.object.resource_id), {}, class: 'role-resource_id form-control col-md-6', disabled: f.object.general?

          %br

          .users_roles-wrapper
            %p Users with this role

            = f.fields_for :users_roles, include_id: false do |users_roles_form|

              = render 'users_role_fields', f: users_roles_form

            = link_to_add_fields 'Add user link to role', f, :users_roles

          .links

            - unless role.new_record?
              %p
                = link_to 'Show', admin_role_path(role)

            %p
              = link_to 'Back to all roles', admin_roles_path

        .actions
          = f.submit role.new_record? ? 'create' : 'update', class: 'btn btn-submit'


