<div class="container devise-container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="form-devise-override-heading"><%= user.new_record? ? 'NEW' : 'EDIT' %> USER</h2>
    </div>
  </div>

  <div class="row">
    <br>
  </div>

  <%= render 'form_errors' %>

  <div class="form-base row">
    <div class="col-md-12 no-padding">

      <div class="text-center">

        <%= form_for(user, url: admin_user_path(user), local: true, html: { class: 'form-devise-override' }) do |f| %>

          <div class="with-padding content-height">

            <fieldset class="email-group">
              <%= fa_icon 'envelope-o' %>
              <%= f.email_field :email, class: 'form-control', autocomplete: 'off', placeholder: 'Email address' %>

            </fieldset>

            <br>

            <fieldset class="email-group">
              <%= fa_icon 'user-o' %>
              <%= f.text_field :username, class: 'form-control', autocomplete: 'off', placeholder: 'Username' %>
            </fieldset>

            <br>

            <% if user.new_record? %>
              <fieldset class="password-group">
                <%= fa_icon 'key' %>
                <%= f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: "Password (#{minimum_password_length} characters minimum)" %>
              </fieldset>

              <br>

              <fieldset class="password-group">
                <%= fa_icon 'key' %>
                <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'Password confirmation' %>
              </fieldset>

              <br>
            <% end %>

            <div>
              <p>Assigned roles</p>

              <%= f.fields_for :roles do |roles_form| %>

                <div class="well well-sm">

                  <fieldset class="email-group">
                    <%= roles_form.label :name, class: 'control-label' %>
                    <%= roles_form.select :name, options_for_select(User::ROLE_ACTIONS, roles_form.object.name), {}, class: 'form-control', placeholder: 'Select action' %>
                  </fieldset>

                  <fieldset class="email-group">
                    <%= roles_form.label :resource_type, class: 'control-label' %>
                    <%= roles_form.select :resource_type, options_for_select(Rolify.resource_types.uniq, roles_form.object.resource_type), {}, class: 'form-control', placeholder: 'Select resource' %>
                  </fieldset>

                  <fieldset class="email-group">
                    <%= roles_form.label :_destroy, 'Unassign' %>
                    <%= roles_form.check_box :_destroy, {}, 'true', 'false' %>
                  </fieldset>

                </div>

              <% end %>
            </div>

            <div class="links">

              <% unless user.new_record? %>
                <p><%= link_to 'Show', admin_user_path(user) %></p>
              <% end %>

              <p><%= link_to 'Back to all users', admin_users_path %></p>

            </div>

          </div>

          <div class="actions">
            <%= f.submit user.new_record? ? 'create' : 'update', class: 'btn btn-submit' %>
          </div>

        <% end %>

      </div>

    </div>
  </div>

</div>
