.container.devise-container
  .row
    .col-md-12
      %h2.form-devise-override-heading
        = user.new_record? ? 'NEW' : 'EDIT'
        USER

  .row %br

  = render 'form_errors'

  .form-base.row
    .col-md-12.no-padding
      .text-center

        = form_for(user, url: user.new_record? ? admin_users_path : admin_user_path(user), local: true, html: {class: 'form-devise-override'}) do |f|

          .with-padding.content-height

            %fieldset.email-group
              = fa_icon 'envelope-o'
              = f.email_field :email, class: 'form-control', autocomplete: 'off', placeholder: 'Email address'

            %br

            %fieldset.email-group
              = fa_icon 'user-o'
              = f.text_field :username, class: 'form-control', autocomplete: 'off', placeholder: 'Username'


            %br

            - if user.new_record?
              %fieldset.password-group
                = fa_icon 'key'
                = f.password_field :password, class: 'form-control', autocomplete: 'off', placeholder: "Password (#{minimum_password_length} characters minimum)"

              %br

              %fieldset.password-group
                = fa_icon 'key'
                = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', placeholder: 'Password confirmation'


              %br


            .roles-wrapper
              %p Assigned roles

              = f.fields_for :roles do |roles_form|

                = render 'role_fields', f: roles_form

              = link_to_add_fields 'Add Role', f, :roles

            .links

              - unless user.new_record?
                %p
                  = link_to 'Show', admin_user_path(user)

              %p
                = link_to 'Back to all users', admin_users_path

          .actions
            = f.submit user.new_record? ? 'create' : 'update', class: 'btn btn-submit'

%br%br
