<div class="nested-fields">
  <div class="well well-sm">

    <fieldset class="email-group">
      <%= f.label :name, class: 'control-label' %>
      <%= f.select :name, options_for_select(User::ROLE_ACTIONS, f.object.name), {}, class: 'form-control', placeholder: 'Select action' %>
    </fieldset>

    <fieldset class="email-group">
      <%= f.label :resource_type, class: 'control-label' %>
      <%= f.select :resource_type, options_for_select(Rolify.resource_types.uniq, f.object.resource_type), {}, class: 'form-control', placeholder: 'Select resource' %>
    </fieldset>

    <fieldset class="email-group">
      <%= link_to_remove_fields "Remove Role", f %>
    </fieldset>

  </div>
</div>
