<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">User Administration</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <%= button_to 'New User', new_admin_user_path, method: :get, class: 'btn btn-sm btn-primary btn-create', disabled: !policy?(:new) %>
            </div>
          </div>
          <div class="row">
            <div class="col col-xs-12 text-center">
              <%= paginate @users, window: 2, outer_window: 2 %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list table-responsive">
            <thead>
            <tr>
              <th><em class="fa fa-cog"></em></th>
              <% User.admin_displayed_columns.each do |column| %>
                <th><%= column.to_s.humanize %></th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <% user_policy = policy(user) %>
              <tr>
                <td class="inline-form-wrapper col-md-2" align="center">
                  <%= button_to admin_user_path(user), method: :get, class: 'btn btn-default', disabled: !user_policy.show? do %>
                    <%= fa_icon('eye') %>
                  <% end %>

                  <%= button_to edit_admin_user_path(user), method: :get, class: 'btn btn-default', disabled: !user_policy.edit? do %>
                    <%= fa_icon('pencil') %>
                  <% end %>

                  <%= button_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', disabled: !user_policy.destroy? do %>
                    <%= fa_icon('trash') %>
                  <% end %>
                </td>

                <% User.admin_displayed_columns.each do |column| %>
                  <td><%= user[column] || '(empty)' %></td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>

        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col col-xs-12">
              Page <%= @users.current_page %> of <%= @users.total_pages %>
            </div>
          </div>
          <div class="row">
            <div class="col col-xs-12 text-center">
              <%= paginate @users, window: 2, outer_window: 2 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>