.container
  .row
    .col-md-12
      %h2.form-heading
        USER DETAILS

  .row
    %br

  .row
    .col-md-12
      .show-base

        .pd-em-2

          = fa_icon 'envelope'

          %label.control-label
            Email address

          .well.well-sm
            = user.email

          %br

          = fa_icon 'user'

          %label.control-label
            Username

          .well.well-sm
            = user.username

          %br

          = fa_icon 'user-o'

          %label.control-label
            Assigned roles

          .well.well-lg
            - user.roles.each do |role|
              %p
                = role.name + ' : ' + role.resource_type.to_s

            = '(None)' if user.roles.empty?

          %br

          .inline-form-wrapper

            = succeed "\n" do
              = button_to edit_admin_user_path(user), method: :get, class: 'btn btn-warning', disabled: !instance_policy?(:edit) do
                = fa_icon('pencil')
                Edit

            = succeed "\n" do
              = button_to admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', disabled: !instance_policy?(:destroy) do
                = fa_icon('trash')
                Delete

          %br

          = link_to 'Back to all users', admin_users_path
